<div><a class="link" routerLink="/films/">Torna a film</a></div>
<div class="myDiv">
    <div>
      <label><b>Titolo:</b></label>  <input type="text" placeholder="Titolo" [(ngModel)]="film.title" class="input"> 
      </div>
    
      <div >
        <label><b>Cover url:</b></label> <input type="text"  placeholder="coverUrl" [(ngModel)]="film.coverUrl" class="input">
      </div>
    
      <div>
        <label><b>Descrizione:</b></label> <input type="text"  placeholder="Descrizione" [(ngModel)]="film.description" class="input">
      </div>

      <div>
        <label><b>Trama</b></label>
        <textarea  [(ngModel)]="film.plot" rows="5"></textarea>
      </div>

      <div >
        <label><b>Direttore:</b></label> <input type="text"  placeholder="Direttore" [(ngModel)]="film.director" class="input">
      </div>
      <div >
        <label><b>Durata:</b></label> <input type="text"  placeholder="Durata" [(ngModel)]="film.duration" class="input">
      </div>
    
      <div >
        <label><b>Anno di produzione:</b> </label><input type="number"  placeholder="Anno di produzione" [(ngModel)]="film.releaseYear" class="input">
        </div>

      <div >
        <label><b>Valutazione:</b></label> <input type="number" min ="0" max = "5" step ="0.5" placeholder="Valutazione" [(ngModel)]="film.stars" class="input">
        </div> 

        <div class="form-group">
          <label><b>Cast:</b></label>
          <div>
              <button type="button" class="btn btn-sm m-1" *ngFor="let actor of actors" 
              (click)="actor.selected = !actor.selected"
              [class.btn-secondary]="actor.selected"
              [class.btn-outline-secondary]="!actor.selected">
              {{ actor.firstname }} {{ actor.lastname }}
              </button>
          </div>
      </div>
      <div class="form-group">
          <label><b>Generi:</b></label>
          <div>
              <button type="button" class="btn btn-sm m-1" *ngFor="let genre of genres" 
                  (click)="genre.selected = !genre.selected"
                  [class.btn-secondary]="genre.selected"
                  [class.btn-outline-secondary]="!genre.selected">
                  {{ genre.name }}
              </button>
          </div>
      </div>
  
      <div class="form-group">
          <label><b>Tags:</b></label>
          <input class="form-control" type="text" placeholder="Tags" [(ngModel)]="film.tags">
      </div>

      <button class="btn btn-secondary" (click)="addFilm()">Add film</button>

    </div>
