<div><a class="link" routerLink="/films/add">Aggiungi un film</a></div>
<div><a class="link" routerLink="/dashboard">Torna alla dashboard</a></div>
<div class="ricerca"><h6>Ricerca film: <input type="text" placeholder="" [(ngModel)]="text"></h6></div>

<h5 class="sottoTitoli"><b>ULTIMI FILM INSERITI</b></h5>
<div class="container-fluid divGrande">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let film of films|filmListFilter:text">
        <div class="card imgdas "  > 
        <img [src]="film.coverUrl" class="card-img-top" alt="...">
        <div class="card-body" >
          <h5 class="card-title"><b> Titolo: </b>{{film.title}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b> Valutazione: </b>{{film.stars}} <app-stars (voteChanged)="setVote(film, $event)" [vote] ="film.stars"></app-stars></li>
          <li class="list-group-item"><b> Durata: </b>{{film.duration}}</li>
          <li *ngIf ="film.show" class="list-group-item"><b>Attori: </b>  {{getCastList(film.cast)}}</li>
          <li *ngIf ="film.show" class="list-group-item"><b>Anno di uscita: </b>{{film.releaseYear}}</li>
          <li *ngIf ="film.show" class="list-group-item"><b>Generi: </b> {{getGenreList(film.genres)}}</li>
          <li *ngIf ="film.show" class="list-group-item"><b>Tag:</b> {{film.tags}}</li>
        </ul>
        <button (click) ="film.show = !film.show" class="btn btn-outline-info btn-sm">Espandi</button>
        <button (click)='selectThisFilm(film)' routerLink="/films/edit/{{ film.id}}" class="btn btn-outline-info btn-sm">Modifica film</button>
        <button (click)='remove(film)'  class="btn btn-outline-info btn-sm">Rimuovi film</button>
        </div>
        </div>
    </div>
</div>

