<div><a class="link" routerLink="/films/add">Aggiungi un film</a></div>
<div><a class="link" routerLink="/dashboard">Torna alla dashboard</a></div>
<div class="ricerca"><h6>Ricerca film: <input type="text" placeholder="" (input)="searchFilm($event)"></h6></div>


<div *ngFor="let film of this.films" class="divGrande">
    <div class="espandi">
     <img [src] = "film.coverUrl" height="50" width="50">
     <b *ngIf="userService.loggedUser" (click)="hearth(film)">&#x2661;</b><b>Titolo: </b> {{film.title}} <b>Valutazione: </b>{{film.stars}} <b>Durata: </b>{{film.duration}}
        <button (click) ="film.show = !film.show" class="btn btn-outline-info btn-sm">Espandi</button>
    </div>
    
    <div *ngIf ="film.show">
      <b>Attori: </b>  {{getCastList(film.cast)}} <b>Anno di uscita: </b>{{film.releaseYear}} <b>Generi: </b> {{getGenreList(film.genres)}} <b>Tag:</b> {{film.tags}}
    </div>
    <div><button (click)="selectThisFilm(film)" routerLink="/films/edit" class="btn btn-outline-info btn-sm">Modifica film</button></div>
    <hr>
</div>


